*{
    text-align: center;

}
.Main{
    img{
        width: 100px;
    }
    input{
        height: 35px;
        width: 20%;
        font-size: 15px;
    }
    button{
        height: 40px;
        width: 10%;
        background-color: rgb(132, 220, 0);
        color: white;
    }
    .edit{
        height: 40px;
        width: 10%;
        background-color: rgb(15, 125, 32);
        color: white;
    }
    .delete{
        height: 40px;
        width: 10%;
        background-color: red;
        color: white;
    }
}
